---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <h1>Detalles del Evento</h1>
    <p>Encuentra aquí toda la información importante sobre el evento. ¡No te pierdas ningún detalle!</p>    
</Layout>
