---

import Layout from '@/layouts/Layout.astro';
import SectionTitle from '@/components/SectionTitle.astro'
import SectionSubtitle from '@/components/SectionSubtitle.astro'
import SectionDivider from '@/components/SectionDivider.astro';

---
<Layout>
    <section class="mx-auto max-w-2xl p-4 pb-16 lg:max-w-6xl" >
        <div class="relative mb-12 pt-20 flex items-center justify-center">
            <SectionTitle title="Preguntas frecuentes" />
        </div>
        <SectionDivider />
        <SectionSubtitle text="¿A qué hora debo llegar? 🕧"/>
        <p class="block text-lg text-black font-Merriweather text-justify max-md:px-6 max-md:pb-5">
            Próximamente os confirmaremos el horario definitivo. La hora a la que os citaremos será media hora antes del inicio de la ceremonia. 
            En este tiempo podréis disfutrar de un cóctel de bienvenida, saludar a los demás invitados e ir tomando asiento para tener las mejores vistas.
        </p>
        <hr class="my-8"/>
        <SectionSubtitle text="¿Puedo aparcar en el lugar del evento? 🅿️"/>
        <p class="block text-lg text-black font-Merriweather text-justify max-md:px-6 max-md:pb-5">
            El evento completo se realizará en Finca La Espiga (Brunete), desde la ceremonia hasta el final de la fiesta. 
            La propia finca cuenta con un aparcamiento gratuito para todos los invitados. 
        </p>
        <hr class="my-8"/>
        <SectionSubtitle text="¿Cuál es el código de vestimenta? 👔👗"/>
        <p class="block text-lg text-black font-Merriweather text-justify max-md:px-6 max-md:pb-5">
            La boda será de día, por lo que hemos elegido un código de vestimenta semiformal/cóctel. 
            Sentíos libres de llevar cualquier color pero, por favor, evitad el blanco, beige o colores muy claros que puedan ser fácilmente confundidos con el vestido de la novia.
            <br/>No olvidéis llevar calzado cómodo, ya que habrá zonas al aire libre.
        </p>
        <hr class="my-8"/>
        <SectionSubtitle text="¿Puedo llevar acompañante? 🧑‍🤝‍🧑"/>
        <p class="block text-lg text-black font-Merriweather text-justify max-md:px-6 max-md:pb-5">
            Las invitaciones son personalizadas con el nombre de cada invitado. Si crees que nos hemos olvidado de alguien que debería estar, consúltalo con nosotros.
        </p>
        <hr class="my-8"/>
        <SectionSubtitle text="¿Puedo realizar mis propias fotos? 📸"/>
        <p class="block text-lg text-black font-Merriweather text-justify max-md:px-6 max-md:pb-5">
            Por supuesto, nos encantará que capturéis momentos especiales del día y los compartáis con nosotros. Tened cuidado de no interferir en las fotos o vídeos del equipo de fotografía profesional. Prometemos compartir con vosotros las fotos oficiales una vez que las tengamos.
            <!-- <br/>Después de la boda, compartiremos un enlace a una galería en línea donde podréis ver y descargar las fotos profesionales. -->
        </p>
        <hr class="my-8"/>
        <SectionSubtitle text="¿Podemos tener un detalle con vosotros? 🎁"/>
        <p class="block text-lg text-black font-Merriweather text-justify max-md:px-6 max-md:pb-5">
            Estamos preparando la boda de nuestros sueños donde todos los invitados son personas muy importantes para nosotros.
            Vuestra presencia es el mejor regalo que podemos recibir. Sin embargo, si queréis ayudarnos a construir nuestro futuro juntos, en el apartado <strong>"Contacto"</strong> de la web encontraréis la información necesaria.
        </p>
        <hr class="my-8"/>
    </section>
</Layout>
