---


---
<footer>
    <div class="fixed bottom-0 left-0 w-full bg-white bg-opacity-70 backdrop-blur-md text-center py-2">
        <p class="text-sm text-gray-600 font-Merriweather">
        &copy; 2025 Nuria & Rober. Todos los derechos reservados.
        </p>
    </div>
</footer>
