---
import { Player } from '@/components/Player.jsx';

---
<footer class="fixed bottom-0 left-0 w-full py-10">
    <div class="fixed bottom-0 left-0 w-full bg-white bg-opacity-70 backdrop-blur-md text-center py-2">
        <p class="text-sm text-gray-600 font-Merriweather">
        &copy; 2025 Nuria & Rober.
        </p>
    </div>
</footer>
