---
interface Props {
    text: string
}

const {text} = Astro.props
---

<h2 class="text-gray-900 mb-4 text-xl ml-2 font-light lg:text-2xl">
    <div class="block sm:inline">
        <strong class="font-bold font-Merriweather-Italic">{text}</strong>
    </div>
</h2>