---
import { Image } from "astro:assets"

import SectionTitle from "@/components/SectionTitle.astro"
import FincaImage from "@/assets/images/fincaImagen.webp"
---

<section class="mx-auto max-w-2xl p-4 pb-16 lg:max-w-6xl" >
  <div class="relative mb-12 flex items-center justify-center">
    <SectionTitle title="Ubicaci贸n" />
  </div>
  <p class="block pb-10 text-justify lg:text-center text-lg text-black font-Merriweather max-md:px-6 max-md:pb-5">
    Tanto la ceremonia como la celebraci贸n tendr谩n lugar en la hermosa <strong>Finca La Espiga</strong>, ubicada en <strong>Brunete</strong>. Un lugar lleno de encanto y naturaleza, perfecto para compartir este momento tan especial con todos vosotros. 仇
    <br /><br />
    La direcci贸n es: <strong>Ctra. M-513, Km 14200, 28690, Brunete, Madrid</strong>.
    <br /><br />
    Haciendo click en la imagen que aparece m谩s abajo, podr茅is acceder a la ubicaci贸n exacta a trav茅s de Google Maps. 
  </p>
  <h4 class="block pb-10 text-center text-xl font-extrabold text-black font-Merriweather opacity-80 max-md:px-6 max-md:pb-5">
    Esperamos que os guste tanto como a nosotros. 隆Nos vemos pronto! 
  </h4>
  <section class="view-animate-[--subjectReveal] animate-zoom-in animate-range-[entry_0%_cover_20%] grid scroll-mt-[31rem] grid-cols-1 gap-4 sm:mt-4 md:scroll-mt-[34rem] lg:scroll-mt-[26rem] lg:grid-cols-6">
    <!-- Slot para el tercer contenido que sera la fecha del evento -->
    <div class="relative lg:col-span-6">
    <a class="relative flex h-full flex-col overflow-hidden bg-white rounded-3xl" href="https://maps.app.goo.gl/srAwcY1oZcbpqGza8" target="_blank" rel="noopener noreferrer">
      <div class="relative w-full overflow-hidden">
        <Image
          class="relative w-full object-cover object-[50%_center] sm:object-center"
          src={FincaImage}
          width={1500}
          height={500}
          alt="Imagen de la Finca la Espiga">
      </div>
    </a>
    
    <div
      class="pointer-events-none absolute inset-px"
    >
    </div>
    </div>
  </section>
</section>