---
import SectionTitle from '@/components/SectionTitle.astro'

const TIMESTAMP = 1777122000000
---

<section class="flex w-full flex-col place-items-center px-2 py-30 view-animate-[--subjectReveal] animate-zoom-in animate-range-[entry_0%_cover_30%]" aria-label="cuenta atrás">
  <SectionTitle title="Empieza la cuenta atras" />

  <div class="flex flex-row gap-x-2 uppercase font-semibold" data-date={TIMESTAMP}>
    <div class="flex flex-col items-center justify-center gap-y-2 w-16">
      <span class="text-4xl tabular-nums" data-days>00</span>
      <span class="text-xs text-center">Dias</span>
    </div>

    <div class="flex flex-col items-center justify-center gap-y-2 w-16">
      <span class="text-4xl tabular-nums" data-hours>00</span>
      <span class="text-xs text-center">Horas</span>
    </div>

    <div class="flex flex-col items-center justify-center gap-y-2 w-16">
      <span class="text-4xl tabular-nums" data-minutes>00</span>
      <span class="text-xs text-center">Minutos</span>
    </div>

    <div class="flex flex-col items-center justify-center gap-y-2 w-16">
      <span class="text-4xl tabular-nums" data-seconds>00</span>
      <span class="text-xs text-center">Segundos</span>
    </div>
  </divdata>
</section>

<script>
  const SECOND = 1000
  const MINUTE = SECOND * 60
  const HOUR = MINUTE * 60
  const DAY = HOUR * 24

  function init(){
    const $countdown = document.querySelector('[data-date]')
    if(!$countdown) return
    const $days = $countdown.querySelector('[data-days]')
    const $hours = $countdown.querySelector('[data-hours]')
    const $minutes = $countdown.querySelector('[data-minutes]')
    const $seconds = $countdown.querySelector('[data-seconds]')

    const timestamp = $countdown.getAttribute('data-date')
    if(!timestamp) return

    const date = new Date(+timestamp).getTime()

    const formatTime = (time: number) => {
      return Math.floor(time).toString().padStart(2, '0')
    }

    function updateCountdown() {
      const now = Date.now()
      const diff = date - now

      if($days instanceof HTMLElement) {
        const days = formatTime(diff / DAY)
        $days.innerText = days
      }

      if($hours instanceof HTMLElement) {
        const hours = formatTime((diff % DAY) / HOUR)
        $hours.innerText = hours
      }

      if($minutes instanceof HTMLElement) {
        const minutes = formatTime((diff % HOUR) / MINUTE)
        $minutes.innerText = minutes
      }

      if($seconds instanceof HTMLElement) {
        const seconds = formatTime((diff % MINUTE) / SECOND)
        $seconds.innerText = seconds
      }

      }
      setInterval(updateCountdown, SECOND)
    }

  init()
</script>