---
---
<section class="relative">
    <div class="bg-theme-blue-light relative mx-auto mb-16 h-screen w-full md:aspect-video md:h-full md:object-cover">
        <div class="image relative" title="Fotografía de dos jovenes.">

        </div>
    </div>
</section>


<style>
    .image {
      background-image: url("../assets/images/hero.webp");
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: 60%;
    }


</style>