---
import Image from "astro/components/Image.astro"

import CalendarImage from "../assets/images/OurStory.webp"
---

<section class="mx-auto max-w-2xl p-4 pb-32 lg:max-w-6xl" id="our-story">
  <Image
    class="relative h-full w-full object-cover object-[50%_center] [mask-image:linear-gradient(to_bottom,black_90%,transparent_100%)] rounded-3xl sm:object-center"
    src={CalendarImage}
    alt="Calendario con la fecha del evento Lola Lolita Land 14 y 15 de junio de 2025"
          />
</section>
