---
import '../styles/global.css'

const { title = 'Nuria y Rober' } = Astro.props
const preloadImg = "/images/hero.webp"

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preload" as="image" href={preloadImg} />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<title>{title}</title>
		<meta name="description" content="Boda de Nuria y Rober. Te esperamos el 25 de abril de 2026 en Finca la Espiga. Un día para disfrutar con amigos y familiares, y crear recuerdos juntos." />
		<meta property="og:title" content="Boda Nuria y Rober" />
		<meta property="og:description" content="Boda de Nuria y Rober. Te esperamos el 25 de abril de 2026 en Finca la Espiga. Un día para disfrutar con amigos y familiares, y crear recuerdos juntos." />
    	<meta property="og:image" content="/images/hero.webp" />
		<meta property="og:url" content="https://boda-nuria-y-rober.vercel.app/" />
    	<meta property="og:type" content="website" />
    	<meta property="og:site_name" content="Boda de Nuria y Rober" />
    	<meta name="twitter:card" content="photo" />
    	<meta name="twitter:title" content="Boda de Nuria y Rober" />
    	<meta name="twitter:description" content="Boda de Nuria y Rober. Te esperamos el 25 de abril de 2026 en Finca la Espiga. Un día para disfrutar con amigos y familiares, y crear recuerdos juntos." />
    	<meta name="twitter:image" content="/images/hero.webp" />
    	<meta name="twitter:url" content="https://boda-nuria-y-rober.vercel.app/" /> 
	</head>
	<body class="bg-linear-to-b from-[#C1D4DA] to-[#2B9FA5] min-h-screen pb-32">
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		background: #13151a;
		background-size: 224px;
		color-scheme: dark light;
	}
</style>
